<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form | {{form_data.form_name}}</title>
</head>
<body>
    <form action="/send_response"  id="form_id" method="post">
        <input type="hidden" value="{{form_id}}" name="form_id">
        {% for field in form_data.fields.keys()%}
            <label>{{field}}</label>
            {% if form_data.fields[field][0]!= 4 and form_data.fields[field][0]!= 3  %}
            <input type="{{ index[form_data.fields[field][0]] }}" name="{{field}}">
            {% else %}
                {% for i in range(1,form_data.fields[field]|length)%}
                <input type="{{ index[form_data.fields[field][0]] }}" name="{{field}}" value="{{ form_data.fields[field][i] }}">
                <label >{{ form_data.fields[field][i] }}</label>
                {% endfor%}
            {% endif %}
            <br>
        {% endfor %}
        <input type="submit">
    </form>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>

</script>
</html>